body {
	font-family: $serif;
}

h1.banner {
	background-color: $banner-background;
	color: $banner-foreground;
	font-family: $header;
	font-weight: bold;
	font-size: 1.5em;
	padding: 0.5em;
	text-transform: uppercase;
}

p {
	margin: 0.2em;
}

#container {
	@include outer-container();
}

#map {
	@include media($full) {
		width: em(600);
	}
	width: 100%;
	height: em(400);
}