body {
	font-family: $serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $serif;
}

h1.banner {
	background-color: $banner-background;
	color: $banner-foreground;
	font-family: $header;
	font-weight: bold;
	font-size: 1.5rem;
	padding: 1rem;
	text-transform: uppercase;
}

p {
	margin: 0 1rem;
}

#container {
	@include outer-container();
}

#map {
	@include media($full) {
		width: em(600);
	}
	width: 100%;
	height: em(400);
	margin: 1em 0;
}