
// Fonts and typefaces
$serif: serif;
$header: Helvetica, Arial, sans serif;

// Colours
$banner-background: #003399;
$banner-foreground: #00ccff;

$font-primary: #666666;
$font-secondary: #666699;
$font-tertiary: #999999;