.story
  %h2.title
    %a{ href: "/story/#{story.id}" }
      = story.title
  %h3.author
    by
    %span.author-name
      = story.author
  %p.published
    on
    %span.published-date
      = story.date
