%h1 What is StoryPlaces?

%p
  It's a new thing from
  %a{ href: "http://www.iankynnersley.co.uk" }
    Ian Kynnersley
  that reveals location-specific stories (in audio form) only when you're in the right place to hear them.