%p Welcome to Story Places, a collection of spoken-word stories set in, or inspired by particular locations.

%p The special thing about these stories is that you can only listen to them in that location.

%p Find a story below that interests you, find out where you can go to listen to it and head over.

%p
  %a.find-me{ href: "#" } To find places near you, click here to allow us to see where you are

#stories
  - @stories.each do |story|
    = partial :story, locals: {story: story}

= partial :"story--active_template"
