%div#no-stories
  %p
    Looking for stories near you...
  %p
    If you can see a story near you on the map, make your way over to it and the story will appear here.

%div#stories

#map


%script{ id:"story-template", type:"text/html" }
  :preserve
    <div class="story" data-story-id="{{id}}">
      <h2 class="name">{{title}}</h2>
      <div class="controls">
        <audio id="player" src="{{audio_url}}" preload="auto"></audio>
        <a href="#"><i class="fa fa-play-circle play" /></a>
      </div>
      <h3 class="author">by <span class="author-name">{{author}}</span></h3>
      <p class="published">on <span class="published-date">{{date}}</span></p>
    </div>
