!!!
%head
  %title StoryPlaces
  %meta{ name:"viewport", content:"width=device-width, initial-scale=1.0" }
  %link{ href:"http://yui.yahooapis.com/pure/0.2.0/base-min.css", rel:"stylesheet", media:"screen"}
  %script{ src: "js/modernizr.custom.46377.js" }
  :javascript
    var appLocation = {
      centre: {
        longitude: -0.18352,
        latitude: 51.60126
      },
      radius: 0.500 // allowed distance from centre in km
    };

    Modernizr.load([
      {
        load: "http://code.jquery.com/jquery.js"
      },
      {
        test: Modernizr.geolocation,
        yep : 'js/geo.js',
        nope: 'js/nogeo.js'
      }
    ]);

%body
  =yield